/******** fonts *******/
h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}
h2 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
a {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #41463d;
}

a:hover {
  color: #70a0af;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    font-size: 1rem;
  }
}
